@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-colors: (
  colorNavy: #2d142c,
  colorNavyLight: #3b1a35,

  colorPurple: #b01336,
  colorPurpleLight: #510a32,

  colorRose: #c72c41,
  colorRoseLight: #d94356,

  colorCoral: #ee4540,
  colorCoralLight: #f36d66,

  colorTurquoise: #0f969c,
  colorTurquoiseLight: #6Da5C0,

  colorBlack: #000000,
  colorWhite: #ffffff,

  lightGrey1: #e5e5e5,

  colorBlue: #20232a,
  colorBlueLight: #2b2f38,
  colorBlueLighter: #3b3f48,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
