@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-colors: (
  colorNavy: #2D142C,
  colorNavyLight: #3B1A35,

  colorPurple: #B01336,
  colorPurpleLight: #510A32,

  colorRose: #C72C41,
  colorRoseLight: #D94356,

  colorCoral: #EE4540,
  colorCoralLight: #F36D66,

  colorBlack: #000000,
  colorWhite: #ffffff,

  lightGrey1: #e5e5e5,

  colorBlue: rgba(32, 35, 42, 1),
  colorBlueLight: #2B2F38,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
