@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-colors: (
  colorNavy: #2d4d72,
  colorNavyLight: #c6d1dd,

  colorPurple: #695279,
  colorPurpleLight: #d4c8dc,

  colorRose: #bf657c,
  colorRoseLight: #ebc5cf,

  colorCoral: #f96e73,
  colorCoralLight: #fbcfd0,

  colorBlack: #000000,
  colorWhite: #ffffff,

  lightGrey1: #e5e5e5
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
